<app-header></app-header>
<div>
  <mat-form-field class="collection__filter">
    <input matInput (keyup)="emitFilter = $event.target.value" placeholder="Filter current page">
  </mat-form-field>

  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let data"> {{data.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let data"> {{data.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="year">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let data"> {{data.year}} </mat-cell>
    </ng-container>

    <ng-container>
      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
    </ng-container>
  </mat-table>

  <mat-paginator [length]="page.length"
                 [pageSize]="page.pageSize"
                 [pageSizeOptions]="page.pageSizeOptions"
                 (page)="emitPage = $event"
  >
  </mat-paginator>
</div>
